*{
  margin:0;
  font-family: 'Roboto',sans-serif;
}
header{
  text-align:center;
}
header h1{
  color:red;
}
header p{
  font-weight:400;
}
header img{
  width:15%;
}
section{
  text-align:center;
  display: flex;
  margin:10px;
  justify-content: space-between
}
section iframe{
  width:40%;
}
section img{
  width:40%;
}
footer{
  text-align:center;
}
footer img{
  width: 15%;
}
