*{
  margin:0;
  font-family: 'Roboto',sans-serif;
}
header{
  text-align:center;
}
header h1{
  color:red;
  font-size:1rem;
}
header img{
  width:30%;
}
section{
  text-align:center;
  display: flex;
  margin:10px;
  justify-content: space-between
}
section iframe{
  width:50%;
}
section img{
  width:50%;
}
footer{
  text-align:center;
}
footer img{
  width: 50%;
  text-align:center;
}
