*{
  margin:0;
  font-family: 'Roboto',sans-serif;
}
body{
  background-image: url('/images/sanlorenzo.jpg');
}
header{
  text-align:center;
}
header h1{
  margin: 10px;
  color:red;
}
header p{
  color: white;
  font-weight:400;
}
header img{
  width:15%;
}
main{
  text-align:center;
}
a{
  text-decoration: none;
}
section{
  margin:10px;
}
section ul{
  display: flex;
    justify-content: space-around;
    margin: 20px;
}
section ol{
  margin: 20px;
  display: flex;
  justify-content: center;
}
section li{
  border: solid 2px blue;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: red;
  list-style:none;
}
section iframe{
  width:40%;
}
section img{
  width:40%;
}
footer{
  text-align:center;
}
footer img{
  width: 15%;
}
