*{
  margin:0;
}
.header .h1{
  background-color:blue;
  color:red;
  font-size:1em;
}
.section{
  display: flex;
  align-content:space-between;
  flex-wrap:nowrap;
}
.footer{
  display:flex;
  align-items:space-evenly;
}
